<div class="flex flex-col p-4 m-4">
    <h2 class="text-center">Ajouter une photo </h2>
    <form [formGroup]="photoForm">
        <div>
            <label class="block">
                <span class="sr-only">Choisir un fichier</span>
                <input type="file" class="p-4 block w-full text-sm text-slate-500
                file:mr-4 file:py-2 file:px-4
                file:rounded-full file:border-0
                file:text-sm file:font-semibold
                file:bg-violet-50 file:text-violet-700
                hover:file:bg-violet-100" (change)="detectFiles($event)" accept="image/*"
                    placeholder="choisir une image" required />
            </label>
            <p *ngIf="fileUploaded">Fichier chargé !</p>
        </div>
        <mat-form-field apparance="outline" class="w-full">
            <mat-label>Titre</mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>

        <div class="flex justify-end">
            <button mat-stroked-button class="mr-2" [mat-dialog-close]>Retour
            </button>
            <button mat-stroked-button (click)="onSavePhoto()" color="accent" [mat-dialog-close] type="submit"
                [disabled]="!fileUploaded">Enregistrer
            </button>
        </div>
    </form>
</div>