<h2>Ajouter une photo</h2>
    <form [formGroup]="photoForm" (ngSubmit)="onSavePhoto()">
        <div >
            <label for="title">Titre</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <h4>Ajouter une photo</h4>
                <input type="file" (change)="detectFiles($event)" accept="image/*">
                <p *ngIf="fileUploaded">Fichier chargé !</p>

                <button [mat-dialog-close] type="submit" [disabled]="photoForm.invalid || fileIsUploading"
                    >Enregistrer
                </button>
    </form>