<!--<button mat-flat-button color="accent" (click)="openDialog()">Ajouter</button>-->

    <div>

        <h2 style="text-align: center;">Partage de Photos</h2>
        <div class="flex  justify-center">
            <img src="../../assets/Hands - Camera.png" alt="" style="width: 150px;">
        </div>

        <mat-card *ngFor="let item of photos" class="mat-elevation-z6 card">
            <h2>{{item.title}}</h2>
            <img [src]="item.image">
            <p>Mis en ligne le : {{item.createdDate | date: ' le d MMMM yyyy à HH:mm'}}</p>
            <mat-card-actions style="padding: 1em;" fxLayoutAlign="end">
                <button matTooltip="supprimer la photo" (click)="onDelete(item)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>

        </mat-card>
    </div>

<button (click)="openDialog()" matTooltip="ajouter une photo" id="add-button" class="mat-fab-bottom-right" mat-fab>
    <mat-icon class="icon">add</mat-icon>
</button>
<button  matTooltip=""
    id="scroll-button" class="mat-fab-bottom-right" mat-fab>
    <mat-icon class="icon">arrow_upward</mat-icon>
</button>