<!--<button mat-flat-button color="accent" (click)="openDialog()">Ajouter</button>-->
<div class="container">
    <h2 style="text-align: center;">Partage de Photos 📷</h2>
<mat-card *ngFor="let item of photos" class="mat-elevation-z6 card">
    <h2>{{item.title}}</h2>
    <img [src]="item.image">
    <p>Mis en ligne le : {{item.createdDate | date: ' le d MMMM yyyy à HH:mm'}}</p>
    <button matTooltip="supprimer la photo" (click)="openDialogDelete()" mat-mini-fab color="warn" >
        <mat-icon >delete</mat-icon>
    </button>
</mat-card>

<button (click)="openDialog()" matTooltip="ajouter une photo" id="add-button" class="mat-fab-bottom-right" mat-fab>
    <mat-icon class="icon">add</mat-icon>
</button>
</div>