<!--<button mat-flat-button color="accent" (click)="openDialog()">Ajouter</button>-->

    <div #photoContainer class="bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200 text-gray-700" (scroll)="onScroll($event)">

        <div class="text-center text-xl font-bold">Partage de Photos</div>
        <div class="flex  justify-center">
            <img src="../../assets/Hands - Camera.png" alt="" style="width: 150px;">
        </div>

        <mat-card *ngFor="let item of photos" class="mat-elevation-z6 card">
            <h2>{{item.title}}</h2>
            <img [src]="item.image">
            <p>Mis en ligne le : {{item.createdDate | date: ' le d MMMM yyyy à HH:mm'}}</p>
            <mat-card-actions style="padding: 1em;" fxLayoutAlign="end">
                <button matTooltip="supprimer la photo" (click)="onDelete(item)"  type="submit" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>

        </mat-card>
    </div>

<button (click)="openDialog()" matTooltip="ajouter une photo" id="add-button" class="mat-fab-bottom-right" mat-fab>
    <mat-icon class="icon">add</mat-icon>
</button>
<button (click)="scrollToTop()" matTooltip="Vers le haut"
    id="scroll-button" class="mat-fab-bottom-right" mat-fab *ngIf="hideButton">
    <mat-icon class="icon">arrow_upward</mat-icon>
</button>