.card {
  margin: 20px auto;
  padding: 10px 30px;
  width: 80%;
}

.bg-gradient-to-tr {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media only screen and (min-width: 860px) {
  .card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
  }
}

img {
  width: 100%;
}
#add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; 
}
#scroll-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;  
}
.container {
  position: relative;
  overflow: hidden;

}
h2 {
  margin: 10px;
}
.photo-list-container {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
