<mat-card  class="flex flex-col justify-center max-w-lg mx-auto">
      <mat-card-content>
        <div class="flex flex-col">
            <div class="text-center" >
                <h3>Se connecter à un compte existant</h3>
            </div>
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center">
                <mat-form-field apparance="outline">
                <label for="email">Adresse mail</label>
                <input matInput formControlName="email" type="text" id="email">
                </mat-form-field>
                <mat-form-field>
                    <label for="password">Mot de passe</label>
                    <input  matInput formControlName="password" type="password">
                </mat-form-field>
                <button mat-flat-button color="accent" type="submit" [disabled]="signInForm.invalid">Connexion</button>
            </form>
        </div>
        <p>{{ errorMessage }}</p>
      </mat-card-content>
        
</mat-card>