<mat-card  class="flex flex-col justify-center max-w-lg mx-auto">
    <mat-card-content>
    <div class="flex flex-col">
        <h3 class="text-center">Créer un compte</h3>
    </div>
    <div >
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center" >
            <mat-form-field apparance="outline">
                <label for="email">Adresse mail</label>
                <input matInput formControlName="email" type="text" id="email">
            </mat-form-field>
            <mat-form-field apparance="fill">
                <label for="password">Mot de passe</label>
                <input matInput formControlName="password" type="password" id="passe">
            </mat-form-field>
            <mat-form-field>
                <label for="password">Confirmer le mot de passe</label>
                <input  matInput formControlName="confirmPassword" type="password" >
            </mat-form-field>
            <button mat-flat-button color="accent" type="submit" [disabled]="signupForm.invalid">Créer mon compte</button>
        </form>
    </div>
    <p color="warn">{{ errorMessage }}</p>
    </mat-card-content>
</mat-card>
    
