<mat-card  class="flex flex-col justify-center max-w-lg mx-auto">
    <div >
        <h3>Créer un compte</h3>
    </div>
    <div >
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" fxLayout="column">
            <mat-form-field apparance="fill">
                <label for="email">Adresse mail</label>
                <input matInput formControlName="email" type="text" id="email">
            </mat-form-field>
            <mat-form-field apparance="fill">
                <label for="password">Mot de passe</label>
                <input matInput formControlName="password" type="password" id="passe">
            </mat-form-field>
            <button mat-flat-button color="accent" type="submit" [disabled]="signupForm.invalid">Créer mon compte</button>
        </form>
    </div>
    <p color="warn">{{ errorMessage }}</p>
</mat-card>
    
