<div class="card">
  <mat-card>
    <mat-card-content>
      <h4 style="text-align: center;">Ajouter un Produits</h4>
      <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
        <mat-form-field apparance="fill">
          <label for="item"></label>
          <input matInput formControlName="item" id="item" placeholder="Ex. Mon produit..." required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!addItemForm.get('item')?.valid" (click)="onSubmit()" matTooltip="ajouter un article"
        id="add-button" class="mat-fab-bottom-right" mat-fab>
        <mat-icon class="icon">add</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>
</div>

<div cdkDropListGroup class="card">
  <div class="container">
    <h2>Produits</h2>
  
    <mat-chip-list cdkDropList [cdkDropListData]="items" class="list" cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">
      <mat-chip class="box" *ngFor="let item of items" cdkDrag>{{item.nom}}
        
          <mat-icon matChipRemove matTooltip="supprimer" (click)="OnDelete(item)">cancel</mat-icon>
     
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="container">
    <h2>Liste :</h2>
    <mat-chip-list cdkDropList [cdkDropListData]="basket" class="list" (cdkDropListDropped)="drop($event)">
      <mat-chip class="box" *ngFor="let item of basket" cdkDrag>{{item.nom}}</mat-chip>
    </mat-chip-list>
  </div>
</div>