<div fxLayout="raw" fxLayoutAlign="center">
    <mat-card class="mat-elevation-z8">
        <div fxLayout="raw" fxLayoutAlign="center">
            <h3>Ajouter une Tâche</h3>
        </div>
        <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center">
            <mat-form-field apparance="fill">
                <mat-label for="name">Tâche pour : </mat-label>
                <mat-select formControlName="name" id="name">
                    <mat-option value="everybody">Everybody</mat-option>
                    <mat-option value="mathieu">Mathieu</mat-option>
                    <mat-option value="sophie">Sophie</mat-option>
                    <mat-option value="charly">Charly</mat-option>
                    <mat-option value="lucie">Lucie</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field apparance="fill">
                <mat-label for="urg">Priorité</mat-label>
                <mat-select formControlName="urg" id="urg" required>
                    <mat-option value="aucune">Aucune</mat-option>
                    <mat-option value="urgent">Urgent !</mat-option>
                    <mat-option value="relative">Relative</mat-option>
                    <mat-option value="pasUrgent">Pas Urgent</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <label for="title">Titre</label>
                <input matInput formControlName="title" id="title" placeholder="Ex. Mon titre..." required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label for="descriptif">Descriptif</mat-label>
                <textarea matInput formControlName="descriptif" id="descriptif" cols="20" rows="5"
                    placeholder="Ex. descriptif de la tâche...">
                    </textarea>
            </mat-form-field>
            
            <div fxLayout="row" fxLayoutAlign="end">
                <button [disabled]="addTaskForm.invalid" mat-flat-button color="primary" type="submit">Ajouter</button>
            </div>
        </form>

    </mat-card>
</div>