<div fxLayout="raw" fxLayoutAlign="center">
    <mat-card class="mat-elevation-z8">
        <div fxLayout="raw" fxLayoutAlign="center">
            <h3>Se connecter à un compte existant</h3>
        </div>
        <div fxLayout="raw" fxLayoutAlign="center">
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" fxLayout="column">
                <mat-form-field apparance="fill">
                <label for="email">Adresse mail</label>
                <input matInput formControlName="email" type="text" id="email">
                </mat-form-field>
                <mat-form-field>
                    <label for="password">Mot de passe</label>
                    <input  matInput formControlName="password" type="password" id="passe">
                </mat-form-field>
                <button mat-flat-button color="accent" type="submit" [disabled]="signInForm.invalid">Connexion</button>
            </form>
        </div>
        <p>{{ errorMessage }}</p>

    </mat-card>
</div>