<div class="flex flex-col justify-center">
    <h1 class="text-center">Bienvenue sur l'application Family! 💕</h1>
    <h2 style="text-align: center;">Liste des tâches à faire:</h2>
    <div class="flex  justify-center">
        <img src="../../assets/Brazuca - Planning.png" alt="" style="width: 150px;">
    </div>
    <div>
        <mat-card *ngFor="let item of tasks; let i = index" class="mat-elevation-z6 card">
            <div fxLayoutAlign="end end">
                <button mat-icon-button class="close-button"  matTooltip="supprimer" (click)="onDelete(item)">
                    <mat-icon class="close-icon" color="warn">close</mat-icon>
                  </button>
            </div>
            <mat-card-title>
                <h3 style="text-align: center;font-weight: bold;">{{item.title}}</h3>
            </mat-card-title>
            <mat-card-subtitle>
                <mat-chip-option aria-label="">
                    <mat-chip>{{item.name}}</mat-chip>
                    <mat-chip [ngStyle]="{'background-color': getCouleurUrgence(item.urg)}">
                        <span style="font-weight: bold;">{{item.urg}}</span></mat-chip>
                </mat-chip-option>
            </mat-card-subtitle>
            <mat-card-content>
                <p *ngIf="item.descriptif">Descriptif:<br> {{item.descriptif}}</p>
            </mat-card-content>
            <mat-card-actions style="padding: 1em;" fxLayoutAlign="end">
                <button color="accent" mat-icon-button matTooltip="modifier la tâches" (click)="onEdit(i)">
                <mat-icon >settings</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>


</div>

<!--<app-photo></app-photo>-->